body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #graph {
    width: 610px;
    border: 3px solid #000;
    .bar {
      width: 10px;
      height: 50px;
      background: orange;
      margin: 5px;
      transition-property: background, width;
      transition-duration: 3s;
      &:nth-child(1) {
        transition-delay: 0s;
        transition-timing-function: linear;
      }
      &:nth-child(2) {
        transition-delay: 1s;
        transition-timing-function: easeoutcubic;
      }
      &:nth-child(3) {
        transition-delay: 2s;
        transition-timing-function: easeinsine;
      }
      &:nth-child(4) {
        transition-delay: 3s;
        transition-timing-function: easeoutexpo;
      }
      &:nth-child(5) {
        transition-delay: 4s;
        transition-timing-function: easeinback;
      }
    }
    &:hover > .bar {
      &:nth-child(1) {
        background: crimson;
        width: 100px;
      }
      &:nth-child(2) {
        background: blue;
        width: 300px;
      }
      &:nth-child(3) {
        background: green;
        width: 400px;
      }
      &:nth-child(4) {
        background: yellow;
        width: 200px;
      }
      &:nth-child(5) {
        background: pink;
        width: 400px;
      }
    }
  }
}
